/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.bgImage {
  width: 100%;
  height: 100vh;
  background-image: url(img/IMG4.jpg);
  background-size: cover;
  background-position: center;
  animation: bgChange 20s linear infinite;
}

@keyframes bgChange {
  0% {
    background-image: url(img/IMG4.jpg);
  }
  20% {
    background-image: url(img/IMG4.jpg);
  }
  25% {
    background-image: url(img/IMG3.jpg);
  }
  45% {
    background-image: url(img/IMG3.jpg);
  }
  50% {
    background-image: url(img/IMG2.jpg);
  }
  70% {
    background-image: url(img/IMG2.jpg);
  }
  75% {
    background-image: url(img/IMG1.jpg);
  }
  95% {
    background-image: url(img/IMG1.jpg);
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.main {
  position: absolute;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  height: 700px;
  max-width: 900px;
  transition: all 1s ease;
  margin: 10px;
}

/* Caja 1 - Login */
.information {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #bbced2;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.info-childs {
  width: 100%;
  padding: 0 30px;
}

.info-childs img {
  position: relative;
  width: 105%;
  height: 10vh;
  bottom: 20px;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.description {
  margin: 15px 0;
  color: #555;
  font-weight: 500;
}

.input {
  width: 180px;
  height: 50px;
  border-radius: 25px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1.15px;
  background-color: #266181;
  color: #ffffff !important;
  box-shadow: 0 5px 7px #181818, 0 -5px -7px #181818;
  border: none;
  outline: none;
  text-align: center;
}

.switch__button {
  cursor: pointer;
}

.switch__button:hover {
  transform: scale(0.985);
  box-shadow: 0 4px 12px #266181;
  transition: 0.25s;
}

/* Caja 2 - Login */
.form-information {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 60%;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #ffffff;
}

.form-information-childs {
  padding: 0 30px;
}

.form-information-childs h2 {
  color: #333;
  font-size: 2rem;
  font-weight: 500;
}

.form-information-childs p {
  color: #555;
}

.icons {
  margin: 15px 0;
}

.icons i {
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px;
  opacity: 0.6;
  color: #266181;
  border: solid thin #266181;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icons i:hover {
  background-color: #6097ac;
  color: #ffffff;
  opacity: 1;
  transition: 0.15s;
  cursor: pointer;
}

.form {
  margin: 30px 0 0 0;
}

.form-label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-radius: 20px;
  padding: 0 15px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.1);
}

.form__input {
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  background-color: #ffffff;
  color: #333;
  border-radius: 20px;
}

.form-label i {
  color: #a7a7a7;
  font-size: 14px;
}

/* .form-group-insert .form-label i {
  color: #266181;
} */

.form .error-input {
  width: 290px;
  border-radius: 7px;
  margin-bottom: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  display: none;
}

.form .error-input-activo {
  display: block;
}

.form .validation-estado {
  font-size: 18px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  opacity: 0;
}

.eye-icon {
  color: #a7a7a7;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* .form__checkbox {
  margin-right: 10px;
} */

.form-message {
  height: 45px;
  line-height: 30px;
  background-color: #f66060;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 0.8rem;
  display: none;
}

.form-message p {
  color: black;
}

.form-message-activo {
  display: block;
}

.form-btn {
  background-color: transparent;
  outline: none;
  border: solid 2px #6097ac;
  color: #6097ac;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.form-btn:hover {
  background-color: #6097ac;
  border: none;
  color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form .exito-message {
  color: #0ca828;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 10px;
  padding: 0.5rem 1rem;
  display: none;
}

.form .exito-message-activo {
  display: block;
}

.is-hidden {
  position: absolute;
  transform: translateY(-400%);
  transition: all 1.5s ease;
}

/* Estilos de validación */
.form-group-correcto .validation-estado {
  color: #1ed12d;
  opacity: 1;
}

.form-group-incorrecto .validation-estado {
  color: #bb2929;
  opacity: 1;
}

.form-group-incorrecto .form-label {
  border: 2px solid #bb2929;
}

.form-group-incorrecto .form-label i {
  color: #bb2929;
}

/* Responsive */
@media screen and (max-width: 1280px) {
  .info-childs img {
    width: 110%;
    height: auto;
    bottom: 20px;
    right: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    transform: scale(0.9);
  }

  .info-childs img {
    width: 110%;
    height: auto;
    bottom: 20px;
    right: 12px;
  }

  .bgImage {
    position: relative;
    background-image: url(img/IMG2.jpg);
    background-size: cover;
    background-position: center;
    animation: bgChange 20s linear infinite;
  }

  @keyframes bgChange {
    0% {
      background-image: url(img/IMG2.jpg);
    }
    20% {
      background-image: url(img/IMG2.jpg);
    }
    25% {
      background-image: url(img/IMG2.jpg);
    }
    45% {
      background-image: url(img/IMG2.jpg);
    }
    50% {
      background-image: url(img/IMG3.jpg);
    }
    70% {
      background-image: url(img/IMG3.jpg);
    }
    75% {
      background-image: url(img/IMG3.jpg);
    }
    95% {
      background-image: url(img/IMG3.jpg);
    }
  }

  .is-hidden {
    position: absolute;
    transform: translateY(-300%);
    transition: all 2s ease;
  }
}

@media screen and (max-width: 980px) {
  .main {
    transform: scale(0.7);
  }

  .bgImage {
    position: relative;
    background-image: url(img/IMG2.jpg);
    background-size: cover;
    background-position: center;
    animation: bgChange 20s linear infinite;
  }

  @keyframes bgChange {
    0% {
      background-image: url(img/IMG2.jpg);
    }
    20% {
      background-image: url(img/IMG2.jpg);
    }
    25% {
      background-image: url(img/IMG2.jpg);
    }
    45% {
      background-image: url(img/IMG2.jpg);
    }
    50% {
      background-image: url(img/IMG3.jpg);
    }
    70% {
      background-image: url(img/IMG3.jpg);
    }
    75% {
      background-image: url(img/IMG3.jpg);
    }
    95% {
      background-image: url(img/IMG3.jpg);
    }
  }

  .info-childs img {
    width: 110%;
    height: auto;
    bottom: 20px;
    right: 12px;
  }

  .is-hidden {
    position: absolute;
    transform: translateY(-300%);
    transition: all 2s ease;
  }
}

@media screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }

  .main {
    transform: scale(0.7);
  }

  .is-hidden {
    position: absolute;
    transform: translateY(-300%);
    transition: all 2s ease;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 15px;
  }

  .main {
    height: auto;
    flex-direction: column;
    transform: scale(0.8);
  }

  .information {
    width: 100%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0;
  }

  .form-information {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0;
  }

  .info-childs img {
    width: 70%;
    bottom: 5px;
    height: auto;
  }

  .bgImage {
    position: relative;
    background-image: url(img/IMG.jpg);
    background-size: cover;
    background-position: center;
    animation: none;
  }

  .is-hidden {
    position: absolute;
    transform: translateY(-300%);
    transition: all 2s ease;
  }
}

@media screen and (max-width: 375px) {
  .main {
    transform: scale(0.7);
  }

  .is-hidden {
    position: absolute;
    transform: translateY(-300%);
    transition: all 2s ease;
  }
}
